/* ==UserStyle==
@name         BGA Hanamikoji
@description  CSS for Hanamikoji on BGA reducing whitespace and fixing waiting_card_zone
@namespace    github.com/yzemaze/bga-hanamikoji-userstyle/
@supportURL   https://github.com/yzemaze/bga-hanamikoji-userstyle
@version      0.2
@author       yzemaze
@license      GPLv3
==/UserStyle== */

@-moz-document regexp("https://boardgamearena.com/.*/hanamikoji\?.*"), regexp("https://boardgamearena.com/archive/replay/.*") {

#waiting_card_zone {
    position: absolute;
    display: inline;
}

/* #mycard_wrap_playerID */
#this_player_block > div:nth-of-type(2) {
    display: flex;
    margin: auto auto auto 260px;
}

#mynothand_wrap, #myreserved_wrap, #mydiscarded_wrap {
    width: fit-content;
}

#myhand_wrap, #mynothand_wrap {
    margin: 5px 15px;
}

.geisha_card_wrap {
  height: 145px;
  margin: 5px auto;
}

/* #card_wrap_playerID */
#opponent_block > div:nth-of-type(1) {
   margin: -15px 10px auto auto;
}

/* #action_wrap_playerID */
#opponent_block > div:nth-of-type(2)  {
    margin: 5px auto auto 10px;
}

}
